.task8_circleWrapper {
    display: flex;
    justify-content: center;
}

.chear:hover {
    cursor: pointer;
}

.task8_pencils {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.task8_pencil {
    height: 150px;
    margin: 5px;
    cursor: pointer;
}

.task8_pencil:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.task8_pencilSelect {
    transform: scale(1.2);
}

.task8_pencilImg {
    height: 100%;
}

.task8_checkTask {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.task8_chek_answer {
    font-size: 26px;
}

.task1Btn {
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
    border: none;
    border-radius: 12px;
    background-color: #0AB7D3;
    padding: 10px;
    font-size: 26px;
    color: white;
    min-width: 100px;
}

.task1Btn:hover {
    box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b;
}