.task13_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task13_imgWrapper {
    display: flex;
    justify-content: center;
    max-width: 500px;
    font-size: 32px;
    letter-spacing: 1em;
    font-weight: 600;
}

.task13_imgWrapper img {
    max-width: 100%;
}

.task13_answer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.task13_answer input {
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #0AB7D3;
    font-size: 24px;
}

.task13_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.task13_chek_answer {
    font-size: 26px;
}

.task1Btn {
    cursor: pointer !important;
    transition: all 0.2s ease !important;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
    border: none !important;
    border-radius: 12px !important;
    background-color: #0AB7D3 !important;
    padding: 10px !important;
    font-size: 26px !important;
    color: white !important;
    min-width: 100px !important;
}

.task1Btn:hover {
    box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b !important;
}