.task10_circleWrapper {
    display: flex;
    justify-content: center;
}

.task10_baloon:hover {
    cursor: pointer;
}

.task10_pencils {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.task10_pencil {
    height: 150px;
    margin: 5px;
    cursor: pointer;
}

.task10_pencil:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.task10_pencilSelect {
    transform: scale(1.2);
}

.task10_pencilImg {
    height: 100%;
}

.task10_checkTask {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.task10_chek_answer {
    font-size: 26px;
}

#task10_svg {
    height: 300px;
}