body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.task_wrapper {
    margin: 20px;
    border: 1px solid grey;
    padding: 10px
}

.task1_wrapper {
    max-width: 1000px;
}

.task1_imgWrapper {
    width: 100%;
}

.task1_imgWrapper img {
    width: 100%;
}

.task1_answers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task1_answer {
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
}

.task1_answer:hover {
    box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b;
}

.task1_answer_active {
    border: 8px solid blue
}

.task1_green {
    border: 8px solid green;
}

.task1_red {
    border: 8px solid red;
}

.task1_checkTask {
    display: flex;
    justify-content: space-between;
}

.task1_chek_answer {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.task1_chek_answer span {
    font-size: 25px;
}

.task1Btn {
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
    border: none;
    border-radius: 12px;
    background-color: #0AB7D3;
    padding: 10px;
    font-size: 26px;
    color: white;
    min-width: 100px;
}

.task1Btn:hover {
    box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b;
}