.task8_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task8_imgWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task8_imgWrapper_img {
    width: 16.5%;
    height: 250px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.task8_answers {
    margin-top: 20px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
}

.task8_answer {
    cursor: grab;
    width: 120px;
    height: 120px;
    border: 1px solid #0AB7D3;
    border-radius: 20px;
    font-size: 25px;
    background-color: aliceblue;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.task8_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.task8_chek_answer {
    font-size: 26px;
}