.task8_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task8_imgWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task8_imgWrapper_img {
    width: 16.5%;
    height: 250px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.task8_answers {
    margin-top: 20px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
}

.task8_answer {
    cursor: grab;
    width: 120px;
    height: 120px;
    border: 1px solid #0AB7D3;
    border-radius: 20px;
    font-size: 25px;
    background-color: aliceblue;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.task8_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.task8_chek_answer {
    font-size: 26px;
}

.task1Btn {
    cursor: pointer !important;
    transition: all 0.2s ease !important;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
    border: none !important;
    border-radius: 12px !important;
    background-color: #0AB7D3 !important;
    padding: 10px !important;
    font-size: 26px !important;
    color: white !important;
    min-width: 100px !important;
    margin: 0 !important;
}

.task1Btn:hover {
    box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b !important;
}