.task3_wrapper {
    max-width: 1000px;
}

.task3_imgWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.task3_imgWrapper img {
    height: 100%;
}

.task3_answers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task3_answer {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border: 1px solid grey;
    width: 200px;
    height: 80px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
}

.task3_answer:hover {
    box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b;
}

.task3_answer_active {
    border: 8px solid blue
}

.task3_green {
    border: 8px solid green;
}

.task3_red {
    border: 8px solid red;
}

.task3_checkTask {
    display: flex;
    justify-content: space-between;
}

.task3_chek_answer {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.task3_chek_answer span {
    font-size: 25px;
}