.task4_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task4_imgwrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.task4_img {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 267px;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
    border-radius: 10px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.task4_active {
    border: 5px solid blue;
}

.task4_img img {
    height: 90%;
}

.task4_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task4_chek_answer {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.task4_chek_answer span {
    font-size: 25px;
}