.task4_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task4_imgWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 10px #cbcdd3;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(108, 114, 113) 36%, rgb(16, 30, 30));
}

.task4_imgWrapper_img {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.task4_answers {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
    border-radius: 10px;
}

.task4_answer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 18px;
    padding: 15px;
    width: 90px;
    height: 90px;
    cursor: grab;
    background-position: center;
    background-size: contain;
}

.task4_answer span {
    cursor: pointer;
    font-size: 24px;
}

.task4_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.task4_chek_answer {
    font-size: 26px;
}